@inject HeadlessService HeadlessService
@model Home

@{
    var shop = await HeadlessService
    .Query()
    .GetFirst<Shop>();
}

<!-- Heading Row -->
<div class="row my-4">
    <div class="col-lg-4">
        <h1>@Model.Title</h1>
        @Html.Raw(Model.Lead)
        <ul class="list list-magic strong bigger">
            @foreach (var item in Model.PhraseSamplesList)
            {
                <li>@item</li>
            }
        </ul>
    </div>
    <!-- /.col-md-4 -->

    @await Html.PartialAsync("_CarouselPartial", Model.CarouselImages)

</div>
<!-- /.row -->

@await Html.PartialAsync("_ShopItemsPartial", shop)


<div class="row my-4">
    @foreach (var usp in Model.UniqueSellingPoints)
    {
        <div class="col-lg-4 col-md-6">
            <i class="material-icons md-150">@usp.Icon</i>
            <h2>@usp.Title</h2>
            @Html.Raw(usp.Description)
            <p><a class="btn btn-secondary" href="@usp.ButtonLink.Url" role="button">@usp.ButtonTitle</a></p>
        </div> //.col-lg-4 
    }
</div><!-- /.row -->    